<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.private_coding.beaconsquaretest">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        android:name="android.support.multidex.MultiDexApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.onyxbeaconservice.provider.IBeaconProvider"
            android:authorities="de.private_coding.beaconsquaretest.provider"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.BleReceiver">
            <intent-filter>
                <action android:name="de.private_coding.beaconsquaretest.scan" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ContentReceiver">
            <intent-filter>
                <action android:name="de.private_coding.beaconsquaretest.content" />
            </intent-filter>
        </receiver>
        <meta-data android:name="clientid" android:value="35603e8875fe0a6ce65fc03451086c47357dd44d" />
        <meta-data android:name="secret" android:value="3c75eccff25b2dea86e210ceea5eff54a7f00032" />
    </application>

</manifest>
